{% extends 'main.html' %} {% block content %}

<main class="layout layout--3">
  <div class="container">
    <div>
      <div style="margin-bottom: 5rem">
        <h1 style="font-size: xx-large">درباره ما</h1>
      </div>

      <div>
        <p style="margin-bottom: 2rem">صاحب اثر : پادرا آهنی</p>
        <div style="display: flex; margin-bottom: 2rem">
          <p>شماره تماس :</p>
          <a href="tel:09187800358">09187800358</a>
        </div>
        <div style="display: flex">
          <p>ایمیل :</p>
          <a href="mailto:padrahani@gmail.com">padrahani@gmail.com</a>
        </div>
      </div>
    </div>

    <div>
      <div style="margin-bottom: 5rem">
        <h1 style="font-size: xx-large">هدف ما</h1>
      </div>

      <div>
        <p>
          ما به عنوان یک سایت پرسش و پاسخ سعی داریم به همه شما عزیزان فارسی زبان
          کمک کنیم با کمک هم دیگر به جواب سوال های خود در مورد زبان ها و بخش های
          مختلف برنامه نویسی برسید.
        </p>
      </div>
    </div>
  </div>
</main>

{% endblock %}
