{% extends 'main.html' %} {% block content %}

<main class="layout">
  <div class="container">
    <div style="display: flex; flex-direction: column">
      <div style="margin-right: 55rem">
        <img
          src="https://lh3.googleusercontent.com/H-ld9nAecg259RGmXO8-kIk8-b9zeHDxw1dN5tNi2Ck_Tx-PIZmnKaXYevkhwRxvFtHY3NyBb8x7hLjC6oAlllmLvB3BT_5jVlsCO6Fji3rBYDt13LYJaQsZl7REcI9dFmkJA1SRYtFR4_Bvl7CKomymjUndMifQZZ7AvIEDBM4VoUPC5u1WbApKp-VsP4Wpl2LwN6GNZYbB9ExP8f_8aLWv-lSDEburbg_iOjkjanKqUKcFKHN3IYeRkgw0H6QCr_Ml5DjlzYNr4FnQsZ20p4GCxHmhNUxyxk8UBgtpGIw8gj2TyyvO6RnC98gioaEwtQA9Nx6Z3MZ1ExijjZZzNdxfiqw-D1pfvrjjWjFpXLLibrgNX6hLReHUdL6nmBeVhixXWJoiJXQRvVGZS7KM2jd8nsPzCsnt5-6vu_XD682GEcN3wHZS-k0k0QwcU7nP1sqDRlHxBvOvl4NTZ2XwIN33GhR6xsL7TvFHixeshZid3NL8k1OshKy3n3GQkxF5XqFlZJm_xlQm6xJIS9G5WeDnNI6nFepaoQFrYDhCnPWhg73KkAo3o6l-aHtH5tUJ81_G6cfSKJtPEAZjS0YGk-P71YxBuA5UGZ7O5gTo-eKlvOCMZtwdcxn97NXJ84pv2XHIi43E1u94QWHMXfkex85qiufySF8dRU7u-f2x4uSy0iYG1gBwuwm0e3UYuZRHT2lpPAz9PyDMQ4r4CJGyzaMz=w234-h220-no?authuser=0"
          style="height: 10rem; width: 10rem"
        />
      </div>
      <div style="margin-top: 3rem">
        <h1 style="font-size: xx-large; margin-top: 5errm; line-height: 2.5">
          {{infoT}}
        </h1>
      </div>
    </div>
  </div>
</main>

{% endblock %}
